{% extends 'cal/base.html' %}

{% block head_extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock head_extra %}


{% block calendar_nav %}
    {% url 'cal.views.day' year=date.year month=date.month day=date.day change='next' as cal_nav_next %}
    {% url 'cal.views.day' year=date.year month=date.month day=date.day change='prev' as cal_nav_prev %}
    {% url 'cal.views.month' year=date.year month=date.month as cal_nav_up %}
    {{ block.super }}
{% endblock calendar_nav %}


{% block calendar_title %}
    Calendar {{ date.day }} {{ month_name }} {{ date.year }}
{% endblock calendar_title %}


{% block calendar_content %}

    <div class="container-fluid">
        {% for label, modal_label, start_time, entry in time_slots %}
            <div class="row">
                {% if entry %}
                    <div class="col-md-2">
                        <b>{{ label }}</b>
                    </div>
                    <div class="col-md-3" 
                        data-toggle="modal" 
                        data-target="#{{ modal_label }}">
                        <i>{{ entry.time }} - {{ entry.time_end }}</i>
                    </div>
                    <div class="col-md-5"
                        data-toggle="modal" 
                        data-target="#{{ modal_label }}">
                        {{ entry.short|safe }}
                    </div>
                    <div class="modal fade" id="{{ modal_label }}" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" 
                                        data-dismiss="modal">&times;
                                    </button>
                                    <h4>
                <!--span class="glyphicon glyphicon-file"></span-->
                                        {{ entry.time }} - 
                                        {{ entry.time_end }}: 
                                        {{ entry.title }}
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        {{ entry.snippet }}
                                    </p>
<textarea disabled rows="20" cols="60">{{ entry.body }}</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" 
                                        class="btn btn-default" 
                                        href=
                                    "{% url 'cal.views.entry' pk=entry.pk %}">
                                        <!--data-dismiss="modal">-->
                                        Edit
                                    </button>
                                    <button type="button" 
                                        class="btn btn-default" 
                                        data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
{% url 'cal.views.entry' year=date.year month=date.month day=date.day hour=start_time.hour minute=start_time.minute as cal_new_entry %}
                    <div class="col-md-2">
                        <a href="{{ cal_new_entry }}">
                            <b>{{ label }}</b>
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a href="{{ cal_new_entry }}">
                            <p></p>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>


{% endblock calendar_content %}

