{% extends 'cal/day_base.html' %}


{% block calendar_nav %}
    {% url 'cal.views.day' slug=nav_slug change='next' as cal_nav_next %}
    {% url 'cal.views.day' slug=nav_slug change='prev' as cal_nav_prev %}
    {% url 'cal.views.multi_day' slug=nav_slug as cal_nav_up %}
    {{ block.super }}
{% endblock calendar_nav %}


{% block calendar_title %}
    Calendar {{ date.day }} {{ month_name }} {{ date.year }}
{% endblock calendar_title %}


{% block calendar_content %}
    {{ block.super }}

    <div class="container-fluid">
        {% for label, datetime_slug, start_time, entry, current in time_slots %}
            <div class="row">
                <div class="col-md-1">
                    <b>{{ label }}</b>
                </div>
                <span class="parent">
                    <div 
                        id="{{ datetime_slug }}"
                        class=
                        "col-md-10 droptarget{% if current %} current{% endif %}"
                        ondragenter="dragenter(event);"
                        ondragleave="dragleave(event);"
                        ondragover="dragover(event);"
                        ondrop="drop(event);"
                        ondragend="dragend(event);"
                        >
                        {% if entry %}
    {% url 'cal.views.entry' pk=entry.pk as url_edit %}
    {% url 'cal.views.entry_delete' pk=entry.pk as url_delete %}
                            <div 
                                id="{{ entry.pk }}"
                                data-toggle="modal" 
                                data-target="#modal{{ datetime_slug }}"
                                draggable="true"
                                ondragstart="drag(event);"
                                >
                                <i>{{ entry.time }} - {{ entry.time_end }}:</i>
                                <b>{{ entry.creator.username }}</b> -
                                {{ entry.short|safe }}
                            </div>
                            {% include 'cal/modal_entry.html' %}
                        {% endif %}
                    </div>
                    <div class="col-md-1">
    {% url 'cal.views.entry' slug=datetime_slug as cal_new_entry %}
                        <button type="button" 
                            class="btn btn-default btn-xs new"
                            onclick="location.href='{{ cal_new_entry }}'">
                            New
                        </button>
                    </div>
                </span> <!-- parent -->
            </div>
        {% endfor %}
    </div>

{% endblock calendar_content %}

