{% extends 'cal/base.html' %}
{% load staticfiles %}


{% block cal_head_extra %}
    {{ csrf_token }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'js.cookie.js' %}"></script>

    <script>
/* these three code snippets enable data to be collected from the modals and
acted upon. */


/* listener cleans out the hidden input data repository when a modal is shown */
$(document).on('show.bs.modal', function (event) {
    $('#next_url').val('');
})

/* method attached to modal action buttons via onclick puts the redirection
target in the hidden input and hides the modal */
function next_url(modal_label, href) {
    $('#next_url').val(href);
    $('#'+modal_label).modal("hide");
}

/* listener redirects the web page according to the contents of the hidden input
after the modal has closed */
$(document).on('hidden.bs.modal', function (event) {
    if ($('#next_url').val()) {
        location.href = $('#next_url').val();
    }
})
    </script>

    <script> 
/* scripts for handling drag-n-drop and ajax */
/* http://www.w3schools.com/html/html5_draganddrop.asp */
/* with tweaks from 
   http://www.html5rocks.com/en/tutorials/dnd/basics/ */

/* get hold of the csrf token for posting, setup ajax to use it */
var csrftoken = Cookies.get('csrftoken');
//console.log('csrf token is '+csrftoken);

/* these are straight from the Django ajax manual pages */
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
$(document).ajaxSend(function() {
    console.log("Triggered ajaxSend handler."); // TODO: something goes here??
});


/* drag and drop handlers attached to targets in html via onxxxx syntax */

function dragover(ev) {
    if (ev.preventDefault) {
        ev.preventDefault(); // Necessary. Allows us to drop.
    }
    console.log('Dragover element ['+ev.target.id+']');
}

function dragenter(ev) {
    console.log('Entering element ['+ev.target.id+']');
    ev.target.classList.add('dragover');  // the new drop target.
}

function dragleave(ev) {
    console.log('Leaving element ['+ev.target.id+']');
    ev.target.classList.remove('dragover');  // now the previous drop target.
}

function drag(ev) {
    ev.dataTransfer.setData("text/html", ev.target.id);
    console.log('Dragging target ['+ev.target.id+']');
    console.log('Data to transfer is '+ev.dataTransfer.getData("text/html"))
}

function drop(ev) {
    console.log('Drop Event on element ['+ev.target.id+']');
    ev.preventDefault();
    var pk = ev.dataTransfer.getData("text/html");
    console.log('pk from data transfer is ['+pk+']');
    /* ajax stuff goes here */
    url = "{% url 'cal.views.entry_update' %}" /* add variables here */
    /*$.ajax({
        url: url,
        type: "post",
        success: function(result) {
            alert(result['message']);*/
            /* if the post succeeds continue with the drop */
            ev.target.appendChild(document.getElementById(pk));
            console.log('Dropped target in ['+ev.target.id+']');
        /*},
        error: function(result) { 
            alert("Got an error dude");
        }
    });*/
    console.log('Finalising css on ['+ev.target.id+']');
    ev.target.classList.remove('dragover');  // clean the css
}

function dragend(ev) {
    /* not required? ev points to the dropped element */
    console.log('Drag ended for element ['+ev.target.id+']');
}

    </script>

{% endblock cal_head_extra %}


{% block calendar_content %} {# invoke this as super from child template #}
<input type="hidden" id="next_url"> <!-- storage for modal redirect trigger -->
{% endblock calendar_content %}

