{% extends 'blog/base.html' %}

{% block content %}

    <div class="page-head">
        <a class="top-menu" href=
"{% url 'cal.views.month' year=date.year month=date.month change='next' %}">
            <span class="glyphicon glyphicon-forward">
            </span>
        </a>
        <a class="top-menu" href=
"{% url 'cal.views.month' year=date.year month=date.month change='prev' %}">
            <span class="glyphicon glyphicon-backward">
            </span>
        </a>
        <h1><a href="">Calendar {{ month_name }} {{ date.year }}</a></h1>
    </div>


    <div class="month">
        <table class="weeks">
            <tr>
                {% for day in day_names %}
                    <th class="day">{{ day }}</th>
                {% endfor %}
            </tr>
            {% for week in weeks %}
                <tr>
                    {% for day, entries, current in week %}
                        <td class=
"day{% if day != 0 %} regular{% endif %}{% if current %} current{% endif %}"
                            {% if day != 0 %}
                                onClick=
"parent.location='{% url 'cal.views.day' year=date.year month=date.month day=day %}'"
                            {% endif %}>
                            {% if day != 0 %}
                                {{ day }}
                                {% for entry in entries %}
                                    <br />
                                    <b>{{entry.creator}}</b>: 
                                        {{ entry.short|safe }}
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}

