{% extends 'cal/day_base.html' %}


{% block calendar_nav %}
    {% url 'cal.views.multi_day' slug=nav_slug change='next' as cal_nav_next %}
    {% url 'cal.views.multi_day' slug=nav_slug change='prev' as cal_nav_prev %}
    {% url 'cal.views.month' year=date.year month=date.month as cal_nav_up %}
    {{ block.super }}
{% endblock calendar_nav %}


{% block calendar_title %}
    Calendar  {{ date.year }} {{ date_start_head }} - {{ date_end_head }}
{% endblock calendar_title %}


{% block calendar_content %}
    {{ block.super }}

    <div class="container-fluid">
        <!-- column headers -->
        <div class="row">
            <div class="col-md-1">
                <i>Time</i>
            </div>
            {% for date, day_header, date_slug in date_slots %}
                <a href="{% url 'cal.views.day' slug=date_slug %}">
                    <div class="col-md-2">
                        <b>
                            {{ day_header }}
                        </b>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- time slot rows -->
        {% for label, start_time, day_entries in time_slots %}
            <div class="row">
                <div class="col-md-1">
                    <b>{{ label }}</b>
                </div>
                {% for datetime_slug, entry, current in day_entries %}
                    <div 
                        id="{{ datetime_slug }}"
                        class=
                    "col-md-1 droptarget{% if current %} current{% endif %}"
                        ondragenter="dragenter(event);"
                        ondragleave="dragleave(event);"
                        ondragover="dragover(event);"
                        ondrop="drop(event);"
                        ondragend="dragend(event);"
                        >
                        {% if entry %}
{% url 'cal.views.entry' pk=entry.pk as url_edit %}
{% url 'cal.views.entry_delete' pk=entry.pk as url_delete %}
                            <div 
                                data-toggle="modal" 
                                data-target="#modal{{ datetime_slug }}"
                                id="{{ entry.pk }}" 
                                draggable="True"
                                ondragstart="drag(event);"
                                >
                                <b>{{ entry.creator.username }}</b>
                            </div>
                            {% include 'cal/modal_entry.html' %}
                        {% endif %}
                    </div>
                    <div class="col-md-1">
                        {% url 'cal.views.entry' modal_label as cal_new_entry %}
                        <button type="button" 
                            class="btn btn-default btn-xs new"
                            onclick="location.href='{{ cal_new_entry }}'">
                            New
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock calendar_content %}

