{% extends 'cal/day_base.html' %}


{% block calendar_nav %}
    {% url 'cal.views.multi_day' slug=nav_slug change='next' as cal_nav_next %}
    {% url 'cal.views.multi_day' slug=nav_slug change='prev' as cal_nav_prev %}
    {% url 'cal.views.month' year=date.year month=date.month as cal_nav_up %}
    {{ block.super }}
{% endblock calendar_nav %}


{% block calendar_title %}
    Calendar  {{ date.year }} {{ date_start_head }} - {{ date_end_head }}
{% endblock calendar_title %}


{% block calendar_content %}
    {{ block.super }}

    <div class="container-fluid">
        <!-- column headers -->
        <div class="row">
            <div class="col-md-1">
                <i>Time</i>
            </div>
            {% for date, day_header, date_slug in date_slots %}
                <a href="{% url 'cal.views.day' slug=date_slug %}">
                    <div class="col-md-2">
                        <b>
                            {{ day_header }}
                        </b>
                    </div>
                </a>
            {% endfor %}
        </div>
        <!-- time slot rows -->
        {% for label, start_time, day_entries in time_slots %}
            <div class="row">
                <div class="col-md-1">
                    <b>{{ label }}</b>
                </div>
                {% for modal_label, entry, current in day_entries %}
                    {% if entry %}
{% url 'cal.views.entry' pk=entry.pk as url_edit %}
{% url 'cal.views.entry_delete' pk=entry.pk as url_delete %}
                        <div class="col-md-2{% if current %} current{% endif %}"
                            data-toggle="modal" 
                            data-target="#{{ modal_label }}"
                            id="{{ entry.pk }}" 
                            >
                            {{ entry.creator.username }}
                        </div>
                        {% include 'cal/modal_entry.html' %}
                    {% else %}
                        {% url 'cal.views.entry' modal_label as cal_new_entry %}
                        <a href="{{ cal_new_entry }}">
                            <div class=
                                "col-md-2{% if current %} current{% endif %}">
                                <p></p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock calendar_content %}

