{% extends 'cal/base.html' %}


{% block calendar_nav %}
    {% url 'cal.views.year' year=next_year as cal_nav_next %}
    {% url 'cal.views.year' year=prev_year as cal_nav_prev %}
    {% url 'cal.views.year' as cal_nav_up %}
    {{ block.super }}
{% endblock calendar_nav %}


{% block calendar_title %}
    Calendar {{ year }}
{% endblock calendar_title %}


{% block calendar_content %}
    {% for year, months in years %}
        <div class="clear"></div> <!-- duh? -->
        <h4>{{ year }}</h4>
        {% for month in months %}
            <div class="month{% if month.current %} current{% endif %}
                {% if month.entry %} entry{% endif %}">
                <a href="{% url 'cal.views.month' year=year month=month.n %}">
                    {{ month.name }}
                </a>
            </div>
            {% if month.n == 6 or month.n == 12 %}
                <br />
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock calendar_content %}

