/*h1 a {*/
/*    color: #f57900;*/
/*    font-family: "Lobster";*/
/*}*/
/*h2 a {*/
/*    color: #ef2929;*/
/*}*/
/*body {*/
/*    padding-left: 15px;*/
/*}*/

.page-head {
    background-color: #f57900;
    margin-top: 0;
    padding: 20px, 20px, 20px, 40px;
}

.page-head h1, 
.page-head h1 a, 
.page-head h1 a:visited, 
.page-head h1 a:active {
    color: white;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    margin-top: 12px;
    margin-bottom: 20px;
    float: right;
    color: ##2e3436;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: black;
}

/*for edit page*/

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.comment {
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* for calendar page(s) */
.month {
    float: left;
    width: 100px;
}

.current {
    float: left;
    width: 100px;
    background-color: #f57900;
}
